.body{
    background: #ffffff;
    overflow: hidden;
}

#mapsection {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: auto;
    fill: #cccccc;
}

#ukraine {
    fill: #f5f5f5;
}

path {
    background: #cccccc;
    stroke: #000000;
    stroke-width: 1px;
    transition: stroke 0.3s ease, filter 0.3s ease;
}

path:hover {
    stroke: #ffffff;
    stroke-width: 2px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.active-country {
    stroke: #ffffff;
    stroke-width: 2px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}